header.header
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  position: relative
  z-index: 1

  .header-left
    display: flex
    align-items: center
    span
      font-size: 26px
      font-weight: 800

  .header-right
    display: flex

  &.header-mb
    margin-bottom: 266px


  .icon-inactive
  .icon-active
    display: none

  input.toggle:checked ~ .icon-active
    display: block
  input.toggle:checked ~ .icon-inactive
    display: none
