article
  border-radius: 5px
  background-color: #252525
  margin-bottom: 25px
  overflow: hidden

  header
    display: flex
    position: relative

    .message
      padding: 10px 20px
      background-color: rgba( 0, 0, 0, .5)
      font-family: 'CircularStd', serif
      font-weight: 700
      font-size: 17px
      color: rgba( 255, 255, 255, 0.7)
      text-transform: uppercase
      border-radius: 5px
      position: absolute
      top: 50%
      left: 50%
      transform: translate( -50%, -50% )

    img
      object-fit: contain

  main
    padding: 15px

    ul.info
      margin-bottom: 10px
      li
        margin-right: 18px
        display: flex
        align-items: center
        svg
          margin-right: 5px
        span
          display: inline-block
          font-size: 15px

    p
      font-size: 17px
      margin-bottom: 15px

  &.article-small
    position: absolute
    bottom: 0
    left: 50%
    bottom: 15px
    margin: 0
    transform: translateX( -50% )
    background-color: #1a1a1a
    overflow: hidden
    header
      img
        width: 354px
        height: 104px