article.post-detail
  background-color: transparent
  overflow: visible

  header
    img
      height: 292px
      width: 414px

  main
    padding-left: 0
    padding-right: 0

    .text
      color: $grey
      padding-bottom: 10px
      border-bottom: 1px solid $grey
