article.post-review-profile
  margin-bottom: 15px
  header
    padding: 20px 0 0px
  main
    span
      font-size: 17px

    .player-wrapper
      margin-bottom: 5px
      border: none
      padding: 0
      .player
        padding: 6px 8px
        .button-player-playpause
          width: 34px
          height: 34px
          svg
            width: 10px
            height: 13px