button.button-edit
  display: flex
  align-items: center
  justify-content: center
  width: 72px
  height: 72px
  background-color: #f5c723
  border-radius: 50%
  position: fixed
  right: 0
  top: 70%
  z-index: 2