html
  color: #ffffff
  font-family: 'NanumSquare', sans-serif
  font-weight: 400
  font-size: 20px

p
  line-height: 24px

.ff-en
  font-family: 'CircularStd', serif
  font-weight: 800

.fw-n
  font-weight: 400
.fw-b
  font-weight: 700
.fw-eb
  font-weight: 800

.fz-16
  font-size: 16px
