@font-face
  font-family: 'NanumSquare'
  font-weight: 300
  src: url( ../fonts/NanumSquare/NanumSquareL.eot )
  src: url( ../fonts/NanumSquare/NanumSquareL.eot?#iefix ) format('embedded-opentype'), url( ../fonts/NanumSquare/NanumSquareL.woff  ) format('woff'), url( ../fonts/NanumSquare/NanumSquareL.ttf ) format('truetype')

@font-face
  font-family: 'NanumSquare'
  font-weight: 400
  src: url( ../fonts/NanumSquare/NanumSquareR.eot )
  src: url( ../fonts/NanumSquare/NanumSquareR.eot?#iefix ) format('embedded-opentype'), url( ../fonts/NanumSquare/NanumSquareR.woff ) format('woff'), url( ../fonts/NanumSquare/NanumSquareR.ttf ) format('truetype')

@font-face
  font-family: 'NanumSquare'
  font-weight: 700
  src: url( ../fonts/NanumSquare/NanumSquareB.eot )
  src: url( ../fonts/NanumSquare/NanumSquareB.eot?#iefix ) format('embedded-opentype'), url( ../fonts/NanumSquare/NanumSquareB.woff ) format('woff'), url( ../fonts/NanumSquare/NanumSquareB.ttf ) format('truetype')

@font-face
  font-family: 'NanumSquare'
  font-weight: 800
  src: url( ../fonts/NanumSquare/NanumSquareEB.eot )
  src: url( ../fonts/NanumSquare/NanumSquareEB.eot?#iefix ) format('embedded-opentype'), url( ../fonts/NanumSquare/NanumSquareEB.woff ) format('woff'), url( ../fonts/NanumSquare/NanumSquareEB.ttf ) format('truetype')

@font-face
  font-family: 'CircularStd'
  src: url('../fonts/CircularStd/CircularStd-Black.eot')
  src: url('../fonts/CircularStd/CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd/CircularStd-Black.woff') format('woff'), url('../fonts/CircularStd/CircularStd-Black.ttf') format('truetype'), url('../fonts/CircularStd/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd') format('svg')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'CircularStd'
  src: url('../fonts/CircularStd/CircularStd-BlackItalic.eot')
  src: url('../fonts/CircularStd/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd/CircularStd-BlackItalic.woff') format('woff'), url('../fonts/CircularStd/CircularStd-BlackItalic.ttf') format('truetype'), url('../fonts/CircularStd/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg')
  font-weight: 800
  font-style: italic

@font-face
  font-family: 'CircularStd'
  src: url('../fonts/CircularStd/CircularStd-Bold.eot')
  src: url('../fonts/CircularStd/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd/CircularStd-Bold.woff') format('woff'), url('../fonts/CircularStd/CircularStd-Bold.ttf') format('truetype'), url('../fonts/CircularStd/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd') format('svg')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'CircularStd'
  src: url('../fonts/CircularStd/CircularStd-BoldItalic.eot')
  src: url('../fonts/CircularStd/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd/CircularStd-BoldItalic.woff') format('woff'), url('../fonts/CircularStd/CircularStd-BoldItalic.ttf') format('truetype'), url('../fonts/CircularStd/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg')
  font-weight: 600
  font-style: italic

@font-face
  font-family: 'CircularStd'
  src: url('../fonts/CircularStd/CircularStd-Medium.eot')
  src: url('../fonts/CircularStd/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd/CircularStd-Medium.woff') format('woff'), url('../fonts/CircularStd/CircularStd-Medium.ttf') format('truetype'), url('../fonts/CircularStd/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd') format('svg')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'CircularStd'
  src: url('../fonts/CircularStd/CircularStd-MediumItalic.eot')
  src: url('../fonts/CircularStd/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd/CircularStd-MediumItalic.woff') format('woff'), url('../fonts/CircularStd/CircularStd-MediumItalic.ttf') format('truetype'), url('../fonts/CircularStd/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg')
  font-weight: 500
  font-style: italic

@font-face
  font-family: 'CircularStd'
  src: url('../fonts/CircularStd/CircularStd-Book.eot')
  src: url('../fonts/CircularStd/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd/CircularStd-Book.woff') format('woff'), url('../fonts/CircularStd/CircularStd-Book.ttf') format('truetype'), url('../fonts/CircularStd/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd') format('svg')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'CircularStd'
  src: url('../fonts/CircularStd/CircularStd-BookItalic.eot')
  src: url('../fonts/CircularStd/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd/CircularStd-BookItalic.woff') format('woff'), url('../fonts/CircularStd/CircularStd-BookItalic.ttf') format('truetype'), url('../fonts/CircularStd/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg')
  font-weight: 400
  font-style: italic
