// layout
.d-flex
  display: flex

.flex-row
  flex-direction: row
.flex-row-reverse
  flex-direction: row-reverse
.flex-col
  flex-direction: column
.flex-col-reverse
  flex-direction: column-reverse

.justify-start
  justify-content: flex-start
.justify-center
  justify-content: center
.justify-end
  justify-content: flex-end
.justify-between
  justify-content: space-between
.justify-around
  justify-content: space-around

.items-stretch
  align-items: stretch
.items-start
  align-items: flex-start
.items-center
  align-items: center
.items-end
  align-items: flex-end
.items-baseline
  align-items: baseline

// paddings
.p-0
  padding: 0
.pt-0
  padding-top: 0 !important


// margins
.mt-5
  margin-top: 5px
.ml-5
  margin-left: 5px
.mr-5
  margin-right: 5px
.mb-5
  margin-bottom: 5px

.mt-10
  margin-top: 10px
.ml-10
  margin-left: 10px
.mr-10
  margin-right: 10px
.mb-10
  margin-bottom: 10px

.mt-15
  margin-top: 15px
.ml-15
  margin-left: 15px
.mr-15
  margin-right: 15px
.mb-15
  margin-bottom: 15px
.mb-50
  margin-bottom: 50px !important
.mb-100
  margin-bottom: 100px !important

.mt-20
  margin-top: 20px
.ml-20
  margin-left: 20px
.mr-20
  margin-right: 20px
.mb-20
  margin-bottom: 20px

.mb-25
  margin-bottom: 25px

.mb-30
  margin-bottom: 30px

.mb-35
  margin-bottom: 35px

.ml--15
  margin-left: -15px
.mr--15
  margin-right: -15px

// overflow
.overflow-auto
  overflow: auto
.overflow-hidden
  overflow: hidden
.overflow-visible
  overflow: visible
.overflow-scroll
  overflow: scroll
.overflow-x-auto
  overflow-x: auto
.overflow-y-auto
  overflow-y: auto
.overflow-x-hidden
  overflow-x: hidden
.overflow-y-hidden
  overflow-y: hidden
.overflow-x-visible
  overflow-x: visible
.overflow-y-visible
  overflow-y: visible
.overflow-x-scroll
  overflow-x: scroll
.overflow-y-scroll
  overflow-y: scroll

// width
.w-full
  width: 100%
.w-1_2
  width: 50%

// height
.h-full
  height: 100%

// position
.relative
  position: relative