$grey: #676767
$grey-light: #bababa

.color-red
  color: rgb(255, 45, 72)
  path
    fill: rgb(255, 45, 72)

.color-yellow
  color: rgb(245, 199, 35)
  path
    fill: rgb(245, 199, 35)

.color-green
  color: rgb(69, 255, 148)
  path
    fill: rgb(69, 255, 148)

.color-blue
  color: #2983ff
  path
    fill: #2983ff

.color-grey
  color: $grey
  path
    fill: $grey

.color-grey-light
  color: $grey-light
  path
    fill: $grey-light