button
  font-size: 18px
  color: #8D8D8D
  font-weight: 800
  cursor: pointer
  outline: none
  display: flex

  &.button-wide
    padding: 18px
    background-color: #ffffff
    display: flex
    align-items: center
    justify-content: center
    // width: 100%
    span
      display: inline-block
      font-size: 18px
      font-weight: 800
      color: #000000
      &.small
        font-size: 14px
        color: #747474

  &.button-icon
    span
      margin-right: 7px

.buttons-wrapper
  display: flex
  position: absolute
  left: 0
  bottom: 0
  width: 100%