.border-bottom-grey
  padding-bottom: 20px !important
  border-bottom: 1px solid $grey

.blurred
  img
    filter: blur( 20px )

.carousel.blurred+.slider-details
  span.age, span.key, span.job
    .value
      filter: blur( 3px )