.carousel
  margin-bottom: 10px
  .glide__slide
    .wrapper
      position: relative
      display: flex
      .slide-data
        position: absolute
        left: 0px
        top: 0px
        display: flex
        span
          font-weight: 700
          color: #000000
          padding: 8px 13px
          background-color: #ffffff
          &:nth-child(1)
            font-size: 18px
            margin-right: 3px
          &:nth-child(2)
            font-size: 15px


  .glide__bullets
    position: absolute
    bottom: 20px
    left: 50%
    transform: translateX( -50% )
    display: flex

    .glide__bullet
      border-radius: 50%
      width: 9px
      height: 9px
      background-color: #ffffff
      margin: 0 3px
      opacity: 0.5
      &--active
        opacity: 1

  .controls-slide-index
    position: absolute
    color: #000000
    padding: 7px 5px
    background-color: #ffffff
    bottom: 0
    right: 0
    font-size: 15px
    span
      font-weight: 700

.carousel+.slider-details
  display: flex
  justify-content: space-between
  margin-bottom: 30px
  span
    font-weight: 800
    font-size: 17px