.filter-wrapper
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  overflow: hidden
  display: none
  background-color: #1a1a1a
  padding: 32px 15px 0
  z-index: 3

  &.active
    display: block

  .filter-heading
    font-size: 26px
    font-weight: 800

  .checkbox-group
    margin-bottom: 40px
    &:last-of-type
      margin-bottom: 100px
    legend
      font-weight: 800
      font-size: 20px
      margin-bottom: 5px

  .button-wide
    position: absolute
    bottom: 0
    left: 0
    right: 0