.hello
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  padding: 192px 0px 299px

  header
    text-align: center
    margin-bottom: 50px
    h1
      font-size: 24px
      margin-bottom: 10px
      font-weight: 800
    span
      font-size: 17px
      color: #8D8D8D
      font-weight: 800

  main
    display: flex
    justify-content: center
    .box
      width: 50%
      padding: 0 15px
      text-align: center

      .image
        width: 150px
        height: 150px
        border-radius: 5px
        margin: 0 auto
        background-color: rgba(255, 255, 255, 0.05)
        margin-bottom: 15px

      span
        display: block
        color: #8D8D8D
        font-size: 17px
        font-weight: 800
        line-height: 24px
        text-align: center

