<div class="hello">

  <header>
    <h1>무엇을 하고싶어요?</h1>
    <span>언제나 바꿀 수 있어요!</span>
  </header>

  <main>
    <div class="box">
      <div class="image"></div>
      <span>파티에</span>
      <span>참여하고 싶어요</span>
    </div>
    <div class="box">
      <div class="image"></div>
      <span>파티를</span>
      <span>주최하고 싶어요</span>
    </div>
  </main>

</div>