label.input-checkbox
  display: flex
  justify-content: space-between
  align-items: center
  user-select: none
  padding: 13px 0
  border-bottom: 1px solid $grey
  span
    color: $grey-light
    font-size: 19px
    font-weight: 700

  input[type='checkbox']
    display: none

  input[type='checkbox']:checked ~ .circle
    background-color: #f5c723

  .circle
    display: flex
    border-radius: 50%
    width: 20px
    height: 20px
    border: 2px solid #ffffff
    background-color: transparent