.popup-overlay
  position: fixed
  background-color: rgba(0, 0, 0, 0.6)
  left: 0
  top: 0
  width: 100%
  height: 100%
  display: none

  // state
  &.active
    display: block
    .popup
      transform: translate( -50%, -50% )

.popup
  position: fixed
  top: 50%
  left: 50%
  transform: translate( -50%, 250% )
  display: flex
  flex-direction: column
  align-items: center
  width: 360px
  background-color: #1a1a1a
  border-radius: 10px 10px 5px 5px
  overflow: hidden
  transition: 0.5s transform

  // state
  &.active
    transform: translate( -50%, -50% )

  .image
    width: 120px
    height: 120px
    border-radius: 5px
    background-color: rgba(255, 255, 255, 0.05)
    margin: 42px 0