.load-photo
  header
    display: flex
    justify-content: space-between
    margin-bottom: 23px
  main
    height: 228px
    background-color: rgba(255, 255, 255, 0.05)
    margin-bottom: 21px
    display: flex
    align-items: center
    justify-content: center
    span
      font-size: 16px
      opacity: 0.3
