.input-group
  label
    display: inline-block
    margin-bottom: 7px
    font-size: 16px
    font-weight: 800
    outline: none
  input
    background-color: rgba(255, 255, 255, 0.05)
    padding: 13px
    width: 100%
    border-radius: 5px
    font-size: 16px
    font-weight: 700
    outline: none
    &::placeholder
      color: #676767


  textarea
    width: 100%
    height: 127px
    background-color: rgba(255, 255, 255, 0.05)
    padding: 13px
    color: #676767
    font-size: 15px
    line-height: 21px
    resize: none
    outline: none
    &::placeholder
      color: #676767

.input-wrapper
  display: flex
  align-items: center
  background-color: rgba(255, 255, 255, 0.05)
  border-radius: 5px
  padding-left: 13px
  input
    background-color: transparent
  svg
    margin-right: 10px

// width 100%
.input-group-100
  width: 100%

// width 50%
.input-group-50
  width: calc( 50% )
.input-group-50-mx-10
  width: calc( 50% - 10px )
.input-group-50-mx-20
  width: calc( 50% - 20px )

// width 33%
.input-group-33
  width: calc( 33.33% )
.input-group-33-mx-10
  width: calc( 33.33% - 10px )
.input-group-33-mx-20
  width: calc( 33.33% - 20px )