.wrapper-list-groups
  background-color: #000000
  padding: 20px 10px 30px
  margin-left: -15px
  margin-right: -15px

ul.list-groups
  display: flex
  justify-content: center
  border-radius: 5px
  padding: 10px 20px 20px
  li
    margin-left: -34px

  &+span
    font-size: 16px
    font-weight: 800
    text-align: center
    display: block