.map-wrapper
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  overflow: hidden
  display: none

  .map
  img
    width: 100%
    height: 100%
    object-fit: cover

  &.active
    display: block