.button-player-playpause
  width: 47px
  height: 47px
  background-color: #ffffff
  display: flex
  align-items: center
  justify-content: center
  border-radius: 50%

  &.active
    svg.play
      display: none
    svg.pause
      display: inline-block

  svg
    pointer-events: none
    width: 13px
    height: 16px
    &.play
      display: inline-block
    &.pause
      display: none