.player-wrapper
  padding: 0px 0px

.player
  display: flex
  border-radius: 5px
  justify-content: space-between
  background-color: rgba(255, 255, 255, 0.1)
  padding: 8px 13px

  .waveform
    width: calc( 100% - 55px )
    // width: 250px