.tag
  border: 1px solid $grey-light
  border-radius: 14px
  margin-right: 10px
  span
    padding: 5px 15px
    font-size: 14px
    font-weight: 700
    color: $grey-light
    white-space: nowrap
    display: inline-block